/* Team Section Styling */
.team {
  padding: 50px 0;
  background: #F0F8FF;
}

.team .content {
  width: 80%;
  margin: auto;
  text-align: center;
}

.team .title span {
  font-size: 30px;
  font-weight: 600;
  color: #0E2431;
  position: relative;
  padding-bottom: 8px;
}

.team-members {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 40px;
}

.team .member {
  width: calc(100% / 3 - 20px);
  text-align: center;
  padding: 20px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
  transition: all 0.4s ease;
}

.team .member img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.team .member h3 {
  font-size: 20px;
  color: #0E2431;
  margin-bottom: 5px;
}

.team .member p {
  color: #4070f4;
  font-size: 18px;
}

.team .member:hover {
  background: #4070f4;
  color: #fff;
}

.team .member:hover p {
  color: #fff;
}

/* Responsive for Smaller Screens */
@media (max-width: 900px) {
  .team-members {
    flex-direction: column;
    align-items: center;
  }

  .team .member {
    width: 80%;
    margin-bottom: 20px;
  }
}
